# Игнорировать бинарные файлы и директории
/bin/
/dist/
/out/

# Игнорировать файлы, специфичные для IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать файлы, созданные во время тестирования
coverage.txt
profile.out

# Игнорировать файлы зависимостей (если используется Go Modules)
/vendor/
/go.sum

# Игнорировать локальные конфигурационные файлы
.env
*.env

# Игнорировать скомпилированные бинарные файлы
*.exe
*.out
*.test

# Игнорировать файлы, созданные при сборке
/build/

# Игнорировать кэш Go
/.cache/
/.go/